$black: #000;
$grey: #939393;
$burger: #39515E;
$nav: #263238;
$white: #fff;
$main-content: #8F95A5;
$card-bg: #F5F5F5;
$count-color: #2A3246;
$btn-span: #546269;
$btn-bg: #EEEEEE;
$border-bottom: #C4C4C4;