@import './components/variable.scss';

.burger {
	width: 34px;
	height: 20px;
	position: relative;
	transition: .5s ease-in-out;
	z-index: 5;

	&_line {
		background-color: $burger;
		height: 4px;
		border-radius: 4px;
	}

	&_line-short {
		width: 23px;
	}

}

.wrapper {
	position: relative;
	overflow: hidden;
}

.menu {
	position: absolute;
	top: 0;
	bottom: 0;
	right: -100%;
	transition: .5s ease-in-out;
	&_list {
		gap: 50px;
		height: 100vh;
		justify-content: center;
	}	

	&_box {
		background-color: $black;
		width: 300px;
		height: 100%;
	}
	
	&_item {
		color: $btn-bg;
		font-size: 3rem;
	}
}
.mask {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.block {
	display: block;
}

.position {
	right: 0;
}

.hidden {
	overflow-y: hidden;
}

.rotate {
	transition: .5s ease-in-out;
	transform: rotate(90deg);
}