@import './components/variable.scss';

.header {


		&_container {
			padding: 36px 5px 0 5px;
		}

		&_nav {
			display: none;
		}

		&_link {
			display: none;
		}
}

@media (min-width: 575px) {
	
	.header {

		&_container {
			padding: 39px 22px 0px 22px;
		}

		&_title {
			font-size: 3rem;
		}

	}

}

@media (min-width: 767px) {
	
	.header {

		&_container {
			padding: 39px 29px 0px 29px;
		}

	}

}

@media (min-width: 992px) {
	
	.header {

		&_container {
			padding: 30px 21px 0px 21px;
		}

		&_burger {
			display: none;
		}

		&_nav {
			display: block;
		}

		&_link {
			display: block;
			padding: 12px 40px;
			border-radius: 5px;
			border: 2px solid $nav;
			transition: .5s ease-in-out;

			&:hover {
				background-color: $grey;
				color: $white;
				transition: .5s ease-in-out;
			}
		}

	}

}

@media (min-width: 1124px) {
	
	.header {

		&_container {
			padding: 57px 129px 0 129px;
		}

		&_title {
			font-size: 3.6rem;
		}

		&_link {
			font-size: 2.4rem;
			padding: 17px 57px;
		}

	}
	
}