@import './components/variable.scss';

.main {

	&_container {
		padding-top: 29px;
	}

	&_img {
		max-width: 100%;
		width: 100%;
	}

	&_box {
		margin-top: 16px;
		max-width: 300px;
		width: 100%;
	}

	&_title {
		line-height: 3.6rem;
		text-align: center;
		max-width: 220px;
	}

	&_content {
		text-align: center;
		line-height: normal;
		margin-top: 16px;
		margin-bottom: 39px;
	}

	&_btn {
		display: block;
		padding: 18px 99px;
		border-radius: 5px;
		transition: .5s ease-in-out;
		&:active {
			transition: .5s ease-in-out;
			background-color: $burger;
		}
	}

}

.br-tablet {
	display: none;
}

@media (min-width: 575px) {

	.br-mobile {
		display: none;
	}

	.main {

		&_container {
			padding-top: 11px;
		}

		&_box {
			margin-top: 17px;
			max-width: 507px;
		}

		&_title {
			max-width: 491px;
			font-size: 3.4rem;
		}

		&_content {
			font-size: 1.6rem;
			margin-top: 32px;
			margin-bottom: 31px;
		}

		&_btn {
			padding: 24px 101px;
			font-size: 1.8rem;
		}
	}
	
}

@media (min-width: 767px) {
	
	.br-tablet {
		display: block;
	}

	.main {

		&_container {
			padding-top: 40px;
			flex-direction: row-reverse;
		}

		&_box {
			align-items: start;
			max-width: 338px;
		}

		&_title {
			text-align: start;
			font-size: 3.6rem;
			position: relative;
			line-height: 4.5rem;

			&::after {
				content: '';
				display: block;
				position: absolute;
				top: 55px;
				right: 70px;
				width: 51px;
				height: 51px;
				background-image: url('../images/main/light.svg');
				background-size: contain;
			}
		}

		&_content {
			text-align: start;
			margin-top: 25px;
			margin-bottom: 32px;
		}

		&_btn {
			font-weight: 400;
		}
	}

}

@media (min-width: 992px) {
	
	.main {

		&_container {
			padding: 68px 11px 0px 19px;
			gap: 30px;
		}

		&_box {
			max-width: 420px;
		}

		&_title {
			font-size: 4.8rem;
			line-height: 6.4rem;

			&::after {
				width: 59px;
				height: 59px;
				top: 87px;
    		right: 76px;
			}
		}

		&_content {
			font-size: 2rem;
			margin-top: 27px;
			margin-bottom: 33px;
		}

		&_btn {
			font-size: 2.4rem;
			padding: 22px 79px;
			&:hover {
				transition: .5s ease-in-out;
				background-color: $burger;
			}
		}

	}

}

@media (min-width: 1124px) {
	
	.main {

		&_container {
			padding: 65px 123px 0 127px;
		}

		&_title {
			font-size: 6.4rem;
			line-height: 8rem;

			&::after {
				width: 86px;
				height: 86px;
				top: 117px;
				right: 30px;
			}
		}

		&_box {
			max-width: 526px;
		}

		&_content {
			font-size: 2.4rem;
			margin-top: 40px;
			margin-bottom: 61px;
		}

		&_btn {
			font-size: 3.6rem;
			padding: 32px 117px;
			border-radius: 15px;
		}

	}

}