@import './components/variable.scss';

.nav {
	max-width: 414px;
	width: 100%;

	&_item {
		transition: .5s ease-in-out;
		position: relative;

		&::after {
			content: '';
			margin-top: 2px;
			display: block;
			width: 0;
			height: 3px;
			background-color: $grey;
			transition: width 0.5s ease-in-out;
		}

		&:hover::after {
			width: 100%;
		}

		&:hover {
			transition: .5s ease-in-out;
			color: $grey;
		}
	}
}

@media (min-width: 1124px) {
	
	.nav {
		max-width: 512px;
		&_list {
			font-size: 2rem;
		}

	}

}